*{
    margin:0;
    padding: 0;
}
body{
    width: 500px;
    height: 500px;
    position: absolute;
    margin: auto;
    left:10px;
    top:10px;
    right: 10px;
    bottom: 10px;

}
.box{
    position: absolute;
    transform:translate(10%,10%) ;
}
